// Superhero
// Bootswatch
// base.less
// allows access to core variables and mixins inside bootswatch.css.less

// @import "twitter/bootstrap/variables";
@import "superhero/variables";

// @import "twitter/bootstrap/mixins";
@import "superhero/mixins";

.tag_view {
  margin: 10px 20px;
}

.blue_large_btn{
  text-align:center;
  width: 300px;
}

.menu_btn_size {
  width: 180px;
}

.container {
  text-align: center;
}

div.contentsarea {
  margin: 10px 20px;
  border: 4px solid rgba(118,226,19,0.7);
  border-radius: 3%;
  color: red;
  background-image: image-url("white_circles_by_geloton.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: cover;
}