<%= form_for(@review) do |f| %>
<%= hidden_field_tag :good_id, @good.id %>


  <div class="field">
    
<%= f.text_area :content,:size=>"70x6" , placeholder: "レビューはこちらにお書きください" %>

  </div>
  
<%= f.submit "Post", class: "btn btn-primary" %>

<% end %>