<div class="container-fluid">
      <div class="row">
        <div class="col-sm-1" style="background-color:red;">左空白</div>
        <div class="col-sm-10">
          <nav>
            <%= render 'layouts/header' %>
          </nav>
          
          <div class="contentsarea">
            
            
            <h1>連絡先記載</h1>
            <p>いろいろ</p>
            
            
          </div>
        </div>
        <div class="col-sm-1" style="background-color:yellow;">右空白</div>
      </div>
    </div>
    <footer style="background-color:gray">Footer</footer>