<div class="container">
<a href="index.html" class="btn btn-default">ホーム</a>

<div class="btn-group">
  <a href="#" class="btn btn-primary">商品紹介</a>
  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">商品１−１</a></li>
    <li><a href="#">商品１−２</a></li>
    <li><a href="#">商品１−３</a></li>
    <li class="divider"></li>
    <li><a href="#">商品２−１</a></li>
    <li><a href="#">商品２−２</a></li>
  </ul>
</div>

<a href="#" class="btn btn-success">利用ユーザー様</a>

<div class="btn-group">
  <a href="#" class="btn btn-info">告知/報告</a>
  <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">セミナー告知</a></li>
    <li><a href="#">日記</a></li>
    <li><a href="#">最新情報</a></li>
    <li class="divider"></li>
    <li><a href="#">どすこい</a></li>
  </ul>
</div>

<a href="#" class="btn btn-danger">出口理栄</a>

<div class="btn-group">
  <a href="#" class="btn btn-warning">お問い合わせ</a>
  <a href="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">よくある質問</a></li>
    <li><a href="inquiry">問い合わせフォーム</a></li>
    <li><a href="#">連絡先</a></li>
    <li class="divider"></li>
    <li><a href="#">v（＾＿＾）v</a></li>
  </ul>
</div>
</div>