<div class="container">
<a href="/" class="btn btn-default">ホーム</a>

<div class="btn-group dropdown">
  <a href="#" class="btn btn-primary" data-toggle="dropdown">商品紹介<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/good/all_goods">全商品一覧</a></li>
    <li class="divider"></li>
    <li><a href="/good/energy_enhancer">Energy Enhancer</a></li>
    <li><a href="/good/icewave">Ice Wave</a></li>
    <li><a href="/good/silentnights">Silent Nights</a></li>
    <li><a href="/good/sp6complete">SP6 Complete</a></li>
    <li><a href="/good/y_age_aeon">Y-Age Aeon</a></li>
    <li><a href="/good/y_age_carnosine">Y-Age Carnosine</a></li>
    <li><a href="/good/y_age_glutathione">Y-Age Glutathione</a></li>
    <li><a href="/good/aravida">ARAVIDA</a></li>
  </ul>
</div>

<div class="btn-group">
  <a href="/showusers" class="btn btn-success">利用者様紹介</a>
</div>

<div class="btn-group">
  <a href="#" class="btn btn-info" data-toggle="dropdown">告知/報告<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/newss/index">セミナー告知</a></li>
    <li class="divider"></li>
    <li><a href="/announces/index">最新情報</a></li>
  </ul>
</div>

<a href="/home/rie" class="btn btn-danger">管理者</a>

<div class="btn-group">
  <a href="#" class="btn btn-warning" data-toggle="dropdown">お問い合わせ<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/questions/index">よくある質問</a></li>
    <li><a href="/inquiry">問い合わせフォーム</a></li>
    <li class="divider"></li>
    <li><a href="/home/renrakusaki">連絡先</a></li>
  </ul>
</div>
</div>